/******************SIDEBAR-NAVBAR-CONTENT WRAPPER TEMPLATE***********************/

body {
    background: #f3f6ff;
    animation: 3s ease-out 1 fadeIn;   
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/** scrollbar **/
    .content-scrollbar::-webkit-scrollbar {
        width: 5px;
        opacity: 0;
    }
    .content-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #d3dbe4;
    }
    .content-scrollbar::-webkit-scrollbar-track {
        border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 5px;
        opacity: 0;
        display: none;
    }
    .custom-scrollbar::-webkit-scrollbar-button {
        display: none;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #d3dbe4;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        border-radius: 50px;
    }
    .custom-scrollbar:hover::-webkit-scrollbar {
        display: block;
    }


/*******NAVBAR********/
    .navbar {
        background-color: #f3f6ff;
        border-bottom: 0.5px solid #d3dbe4;
        height: 65px;
        overflow:visible;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
    }

    .nav-collapse {
        margin-left: 11px;
        margin-right: 0px;
    }

    #iplm {
        top: 15px;
        left: 65px;
        position: absolute;
    }

    .headertitle {
        color: #06529b;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 20px;
        top: 18px;
        left: 290px;
        position: absolute;
    }


    /********NOTIFICATION*******/
    .notificon {
        top: 20px;
        right: 250px;
        position: absolute;
    }

    .dropdown-toggle::after {
        content: none;
    }

    .dropdownNotifInfo {
        background-color: #fff;
        width: 350px;
        border: 0;
        border-radius: 10px;
    }

    .dropdown-divider {
        border-color: #d3dbe4;
    }

    #notiftitle {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 15px;
    }

    .notiftext {
        color:#06529b;
    }

    #notifdrops {
        background-color: #fff;
        border-radius: 5px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        color: #5f6e83;
        padding: 20px;
        margin-bottom: -30px;
        margin-top: -5px;
    }

    #notifdrops:hover {
        background-color: #f3f6ff;
        border-radius: 5px;
        transition: all 1s ease;
    }
    
    .dropdownNotifInfo a:hover {
        text-decoration: none;
    }

        
    /********END OF NOTIFICATION*******/

    /********PROFILE*******/

    .pficon {
        top: 16px;
        right: 25px;
        position: absolute;
    }

    .profilebutton {
        top: 0px;
        right: 0px;
        position: absolute;
    }

    .usertitle {
      color:#5f6e83;
      font-size: 10px;
      top: 19px;
      right: 70px;
      text-align: right;
      position: absolute;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .user {
      color: #06529b;
      font-size: 13px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      top: 32px;
      right: 70px;
      text-align: right;
      position: absolute;
      max-width: 160px;
      white-space: nowrap;
      overflow:hidden;
    }

    .user:hover {
      text-decoration: none;
      color: #0892dd;
      font-size: 13px;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      transition: all 1s ease;
    }

    .dropdownProfileMenu {
        background-color: #fff;
        width: 210px;
        border: 0;
        border-radius: 10px;
        margin-bottom: -10px;
        z-index: 1002;
    }

    .userinfo {
        right: 0;
        top: 0;
    }

    #profilemenutitle {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 14px;
        color: #06529b;
        top: 20px;
        left: 65px;
        text-align: left;
        position: absolute;
    }

    #profilemenuemail {
        color:#5f6e83;
        font-size: 10px;
        top: 38px;
        left: 65px;
        text-align: left;
        position: absolute;
        font-family: 'Source Sans Pro', sans-serif;
      }

    .profilelinks {
        text-align: left;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        color: #5f6e83;
        font-weight: 500;
        display: block;
        margin: 0px -8px -8px -8px;
        padding: 5px 15px 5px 5px;
    }

    .profilelinks:hover {
        background-color: #f3f6ff;
        text-decoration: none;
        color: #06529b;
        transition: all 1s ease;
        border-radius: 5px;
    }

    .profilehover img:hover {
      opacity: .5;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    /********END OF PROFILE*******/

/*******SIDEBAR********/
    
    li {
        list-style-type: none;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        margin: 10px;
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        transition: all 0.5s ease;
    }

    li.sb-section {
        text-transform: uppercase;
        position: relative;
        font-size: 10px;
        color: #a8b4c2;
        max-width: 200px;
    }

    li.sb-section span {
        background-color: #f3f6ff;
        padding-right: 10px;
    }

    li.sb-section:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.6em;
        top: 50%;
        border-top: 1px solid #d3dbe4;
        z-index: -1;
        margin-left: 50px;
    }

    a.sb-links {
        color: #5f6e83;    
        font-size: 14px;   
        transition: all 0.5s ease;
    }

    .sb-icons {
        margin-right: 7px;
    }

    /**sidebar bootstrap**/
    #wrapper {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;            
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 850px;
      }
      
      #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #f3f6ff;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        padding-bottom: 70px;
      }
      
      #wrapper.toggled #sidebar-wrapper {
        width: 250px;
      }
      
      #page-content-wrapper {
        width: 100%;
        position: absolute;
        padding: 15px;
      }
      
      #wrapper.toggled #page-content-wrapper {
        position: absolute;
        margin-left: 0px;
        margin-right: 0px;
      }
      
      
      /* Sidebar Styles */
      
      .sidebar-nav {
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        padding-top: 5px;
      }
      
      .sidebar-nav li {
        text-indent: 20px;
        line-height: 27px;
      }
      
      .sidebar-nav li a {
        display: block;
      }
      
      .sidebar-nav li a:hover {
        text-decoration: none;
        color: #0892dd;
      }
      
      .sidebar-nav li a:active, .sidebar-nav li a:focus {
        text-decoration: none;
      }
           
      @media(min-width:768px) {
        #wrapper {
          padding-left: 0;  
        }        
        #sidebar-wrapper {
          width: 0;
        }
        #wrapper.toggled #sidebar-wrapper {
          width: 250px;
        }
        #page-content-wrapper {
          padding: 20px;
          position: relative;
        }
        #wrapper.toggled #page-content-wrapper {
          position: relative;
          margin-right: 0;
          margin-left: 0;
        }
      }



/**OTHERS > APPLICATION 1ST PAGE & PART-TIME 1ST PAGE**/
.oth {
    margin-left: 95px;
    margin-right: 50px;
    margin-top: 100px;
}

.std {
    margin-left: 95px;
    margin-right: 50px;
    margin-top: 30px;
}

.fct {
    margin-left: 95px;
    margin-right: 50px;
    margin-top: 10px;
}

.btn-group-vertical {
    margin-left: 75px;
    margin-right: 35px;
    justify-content: center;
}

#buttons {
    padding: 0px;
    text-align: right;
}

#others {
    font-size: 44px;
    color: #0C66CC;
    margin-left: 55px;
    font-family: 'Nunito';
}

#students {
    font-size: 23px;
    color: #0C66CC;
    margin-left: 110px;
    font-family: 'Nunito';
}

#faculty {
    margin-top: 50px;
    font-size: 23px;
    color: #0C66CC;
    margin-left: 105px;
    font-family: 'Nunito';
}

#buttons .btn {
    border-radius: 14px 14px 14px 14px;
    padding: 10px 10px 10px 20px;
    font-size: 18px;
    font-family: 'Nunito';
    color: #ffff;
    margin-left: 90px;
    margin-bottom: 15px;
    background-color: #0C66CC;
    text-align: left;
    width: 70%;
    height: 60px;
}

.btn-btn2 {
    border-radius: 15px 15px 15px 15px;
    border-color: transparent;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    font-family: 'Nunito';
    color: #0C66CC;
    margin-left: 90px;
    margin-bottom: 15px;
    background-color: #ECC429;
    text-align: left;
    width: 70%;
    height: 60px;
}

#buttons .btn:hover {
    background-color: #2852A4;
    color: #ECC429;
    cursor: pointer
}

#buttons .btn2 {
	font-family: 'Nunito';
    color: #ffff;
    background-color: #0C66CC;
	padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 15px;
    width: 60%;
    height: 45px;
	font-size: 20px;
	text-align: center;
	margin: -5px 0px 0px 80px;
}

#buttons .btn2:hover {
    background-color: #2852A4;
    cursor: pointer
}

#application {
    margin-left: -15px;
    font-size: 30px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#cntr {
    font-size: 20px;
    white-space: nowrap;
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.form-control{
    background: #FCFCFC;
    border-radius:  15px 15px 15px 15px;
    border-width: 1px;
    border-color:  #ECECEC;
    width: 40%;
    height: 25px;
    padding-left: 20px;
    font-family: 'Nunito';
    font-size: 20px;
	margin-top: -27px;
	margin-left: 75px;
}

.flex-item {
    background: #ffff;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 5px;

    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}


.year {
	font-family: Nunito;
	color: #C8C8C8;
	font-size: 28px;
	padding-bottom: 5px;
	padding-top: 10px;
}


.app-panel{
    background: #ffff;
    height: 130px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    font-size: 20px;
    color: #0C66CC;
    text-align: left;
	vertical-align: center;
    padding: 2px;
    font-family: 'Nunito';
	margin-top: 35px;
	margin-bottom: 55px;
	padding-left: 5px;
}

.scroll {
	height: 750px;
    display: block;
    width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e4e4e4;
	border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbcbcb;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8f8f8f; 
}

/********END OF OTHERS > APPLICATION 1ST PAGE & PART-TIME 1ST PAGE*******/


/**OTHERS > APPLICATION 2ND PAGE**/


/**OTHERS > GRAY BOXES**/
.gray {
    margin-top: 30px;
    margin-left: -35px;
    margin-bottom: 35px;
}

.graystno {
    padding-left: 50px;
    background: #E9E9E9;
    border-radius: 15px 15px 15px 15px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding-right:100px;
    padding-top: 10px;
    width: 300px;
}

.grayname {
    padding-left: 60px;
    background: #E9E9E9;
    border-radius: 15px 15px 15px 15px;
    margin-left: 35px;
    margin-bottom: 20px;
    padding-right:100px;
    padding-top: 10px;
}

/**END OTHERS > GRAY BOXES**/



/**** PART TIME AVAIL RIGHT SIDE PAGE ****/

#application {
    margin-left: -15px;
    font-size: 30px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#cntr {
    margin-left: -20px;    
}

.app-panel{
    background: #ffff;
    height: 100px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgb(211, 211, 211);
    font-size: 20px;
    padding-top: 35px;
    color: #0C66CC;
    text-align: left;
    font-family: 'Nunito';
    
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 35px;

}

/** END OF PART TIME AVAILABILITY BANNER **/



/****** END OF PART-TIME AVAILABILITY 2ND PAGE ********/


/********BREAKPOINTS*******/
@media (max-width: 768px) {
    body {
        background: #fcfcfc;
        overflow: auto;
    }

    #content {
        margin-left: 0px;
    }

    /*****SIDEBAR*****/
    #sidebar {
        margin-left: -175px;
    }

    /*****END SIDEBAR*****/

    /*****HOME*****/
    .quickmargin {
        margin-bottom: 10px;
    }

    .white-box {
        width: 100%;
    }

    .colwhite {
        width: 100%;
        padding: 0px;
        margin-left: 25px;
        margin-bottom: 10px;
    }

    /*****END HOME*****/
}


/* Extra small devices (portrait phones, Less than 576px) */ 
@media (max-width: 575.98px) {
    body {
    overflow: auto;
    }
	
	#sidebar {
		margin-left: -175px;
	}
	
	.app-panel {
		width: 160%;
		padding-top: 10px;
	}
	
	#buttons .btn2 {
		font-family: 'Nunito';
		color: #ffff;
		background-color: #0C66CC;
		
		border-radius: 15px 15px 15px 15px;
		border-width: 1px;
		width: 35%;
		height: 45px;
		
		font-size: 20px;
		text-align: center;
		
		margin: -90px 0px 0px 260px;
	}
	
	.graystno {
		width: 100%;
		margin-left: -100px;
	}
	
	.button2hvr {
		margin-left: 0px;
	}
	
	.button3hvr {
		margin-left: 0px;
	}
	
	.button4hvr {
		margin-left: 35px;
	}
	
}
/* Small devices (Landscape phones, 576px and up)*/ 
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
    overflow: auto;
    }
	
	.app-panel {
		width: 135%;
		height: 15%;
		padding-top: 10px;
	}
	#buttons .btn2 {
		font-family: 'Nunito';
		color: #ffff;
		background-color: #0C66CC;
		
		border-radius: 15px 15px 15px 15px;
		border-width: 1px;
		width: 35%;
		height: 45px;
		
		font-size: 20px;
		text-align: center;
		
		margin: -15px 0px 0px 400px;
	}
	#sidebar {
		margin-left: -175px;
	}
	
	.graystno {
		margin-left: -75px;
	}
	
	.button2hvr {
		margin-left: 100px;
	}
	
	.button3hvr {
		margin-left: 100px;
	}
	
	.button4hvr {
		margin-left: 135px;
	}
	
}
/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991.98px) { 
    body {
    overflow: auto;
    }
	
	#application {
		margin-left: 25px;
	}
	
	.app-panel {
		margin-left: 25px;
	}
	
	#submitted {
		margin-left: 0px;
	}
	
	.button2hvr {
		float: left;
		margin-left: -10px;
	}
	
	.button3hvr {
		float: left;
	}
	
	.button4hvr {
		float: left;
		margin-right: -80px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #content {
        zoom: 67%
    }
    #sidebar {
        zoom: 75%;
    }
	
	.dropdown {
		margin-top: -75px;
		margin-left: 80px;
	}
}

/* For screens na 1920x1080 */
@media (min-width: 1920px) {
    .wrapper {
        zoom: 100%;                                        
    }
}

/********END BREAKPOINTS*******/