{% load static  %}

<!DOCTYPE html>
<html>

<head>
    <title>Chairperson | Students</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <script src="cHomeMain.js"> </script>

    <!-- static > CRS > css > cStudents -->
    <link rel="stylesheet" type="text/css" href="{% static 'CRS/css/cStudents/viewBlockStyle.css' %}">


    <!--Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <!--Icon-->
    <link rel="icon" href="{% static 'CRS/images/cStudents/iPLM.png'%}" type="image/png" sizes="16x16">

    <style>
        tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
</head>

<body>

    <div class="wrapper">

      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
            <li>
                <p><br><br><img src="{% static 'CRS/images/fHomeAndProfile/hat.png' %}" width="126px" height="87px"><br><br>
            </li>
        </div>
        <ul class="sidebar components">
            <li class="active"><a href="{% url 'chairperson' %}"><img src="{% static 'CRS/images/cIcons/home2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'is_active' %}"><img src="{% static 'CRS/images/cIcons/department2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'dept_student' %}"><img src="{% static 'CRS/images/cIcons/students2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'full_time' %}"><img src="{% static 'CRS/images/cIcons/faculty2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'cOthers-studyPlan' %}"><img src="{% static 'CRS/images/cIcons/others2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'logout' %}"><img src="{% static 'CRS/images/cIcons/log-out2.png' %}" width="97px" height="auto"></a></li>
        </ul>
      </nav>
    <!--End of Sidebar -->

        <!-- Content -->
        <div id="content">
            <div class=" container-fluid">
                <div class="row" id="head">
                        <p>Student</p>
                    </div>
                <!-- NAVIGATIO BAR -->
                <div class="main row">
                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit' %}"><p class="firstyear">1st Year</p></a>
                        <div class="firstdropdown-content">
                            <a class="one" href="{% url 'students_bsit1' %}">Block 1</a>
                            <a href="{% url 'students_bsit1-2' %}">Block 2</a>
                            <a href="{% url 'students_bsit1-3' %}">Block 3</a>
                            <a href="{% url 'students_bsit1-4' %}">Block 4</a>
                            <a href="{% url 'students_bsit1-5' %}">Block 5</a>
                            <a href="{% url 'students_bsit1-6' %}">Block 6</a>
                            <a href="{% url 'students_bsit1I' %}">Irregular</a>
                        </div>
                    </div>

                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit2' %}"><p class="firstyear">2nd Year</p></a>
                        <div class="firstdropdown-content">
                            <a href="{% url 'students_bsit2-1' %}">Block 1</a>
                            <a href="{% url 'students_bsit2-2' %}">Block 2</a>
                            <a href="{% url 'students_bsit2-3' %}">Block 3</a>
                            <a href="{% url 'students_bsit2-4' %}">Block 4</a>
                            <a href="{% url 'students_bsit2-5' %}">Block 5</a>
                            <a href="{% url 'students_bsit2-6' %}">Block 6</a>
                          <a href="{% url 'students_bsit2I' %}">Irregular</a>
                        </div>
                    </div>

                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit3' %}"><p class="firstyear">3rd Year</p></a>
                        <div class="firstdropdown-content">
                          <a href="{% url 'students_bsit3-1' %}">Block 1</a>
                            <a href="{% url 'students_bsit3-2' %}">Block 2</a>
                            <a href="{% url 'students_bsit3-3' %}">Block 3</a>
                            <a href="{% url 'students_bsit3-4' %}">Block 4</a>
                            <a href="{% url 'students_bsit3-5' %}">Block 5</a>
                            <a href="{% url 'students_bsit3-6' %}">Block 6</a>
                          <a href="{% url 'students_bsit3I' %}">Irregular</a>
                        </div>
                    </div>

                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit4' %}"><p class="firstyear">4th Year</p></a>
                        <div class="firstdropdown-content">
                          <a href="{% url 'students_bsit4-1' %}">Block 1</a>
                            <a href="{% url 'students_bsit4-2' %}">Block 2</a>
                            <a href="{% url 'students_bsit4-3' %}">Block 3</a>
                            <a href="{% url 'students_bsit4-4' %}">Block 4</a>
                            <a href="{% url 'students_bsit4-5' %}">Block 5</a>
                            <a href="{% url 'students_bsit4-6' %}">Block 6</a>
                          <a href="{% url 'students_bsit4I' %}">Irregular</a>
                        </div>
                    </div>

                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit5' %}"><p class="firstyear">5th Year</p></a>
                        
                    </div>

                    <div class="firstdropdown">
                        <a href="{% url 'students_bsit6' %}"><p class="firstyear">6th Year</p></a>
                        
                    </div>
                </div>
                <!--End of NAVIGATION BAR-->
                {% block body %}
                <div class="sub-year row">
                    <p id="fulltime">{{year}}&nbsp;&nbsp;&nbsp;&nbsp;</p><!-- DB YEAR -->
                    <div class="row" id="studentCount" style="margin-left: -50px;">Student: {{count}}</div><!-- STUDENT COUNT -->
                    
                </div>
                <hr class="new">

                <!-- TABLE HEADER -->
                <div class="list row">
                    <div class="col-15">
                        <table>
                            <tr>
                                <td id="list"><b><p>Student No.</p></b></td><!-- Faculty Number Label -->
                                <td id="list"><b><p>Last Name</p></b></td><!-- Last Name of Faculty -->
                                <td id="listname"><b><p>First Name</p></b></td><!-- Firs Name of Faculty -->
                                <td id="listname"><b><p>Middle Name</p></b></td><!-- Middle Name of Faculty -->
                                <td id="listname"><b><p>View</p></b></td><!-- Middle Name of Faculty -->
                            </tr>
                        </table>
                    </div>
                </div>



                <!-- DATA OF TABLE -->
                <div class="list row">
                        <div class="table-wrapper-scroll-y scroll">
                            <table>
                                <!--ROW 1-->
                                {% for i in bsit3 %}
                                <tr>
                                    <td id="list"><p>{{ i.studentID }}</p><!-- DB FACULTY NO --></td>
                                    <td id="listname"><p>{{ i.studentUser.lastName }}</p><!-- DB LAST NAME --></td>
                                    <td id="listname"><p>{{ i.studentUser.firstName }}</p><!-- DB FIRST NAME --></td>
                                    <td id="listname"><p>{{ i.studentUser.middleName }}</p><!-- DB MIDDLE NAME --></td>
                                    <td id="list row">
                                        <td id="listname"><a href="{% url 'profile1_1' i.pk %}"><button class="manage row"><!-- DB MANAGE FACULTY BUTTON BELOW -->View</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                        {% endblock %}
                            </table>
                        </div>
                    </div>




                <!--Search box-->
                <div class="searchbox">
                    <form method ="get">
                     {{ result.form }}&nbsp;&nbsp;
                    <button type="submit" id="submit" value="Search"> Search </button>
                    </form>
                </div>
                <!--End of Search box-->


                <!--Gray Line-->
                <div class="col-searchline">
                    <div class="grayline">
                    </div>
                </div>
                <!--End of gray line-->

            </div>
        </div>
        </div>
    </div>
</body>
</html>