<html>
    <head>
        Checklist
    </head>
<body>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm" border="1">
                    <tr>
                        <th>Subject Code</th>
                        <th>Units</th>
                        <th>Subject Name</th>
                        <th>Grades</th>
                        <th>Remarks</th>
                        <th>Gwa : {{subject_count}} </th>
                    </tr>
                    {% for subject in checklist %}
                    <tr>
                        <td>{{subject.curriculumCode.subjectCode.subjectCode}}</td>
                        <td>{{subject.curriculumCode.subjectUnits}}</td>
                        <td>{{subject.curriculumCode.subjectCode.subjectName}}</td>
                        <td>{{subject.subjectGrades}}</td>
                        <td><{{subject.remarks}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</body>
</html>