<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if event == None %}
        <h1>Event Does not Exists</h1>
    {% else %}
        <h1>{{ event.eventTitle }}</h1>
        <h1>{{ event.eventDescription }}</h1>
        <h1>{{ event.eventStartDate }}</h1>
        <h1>{{ event.eventEndDate }}</h1>
    {% endif %}
</body>
</html>