<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
      <div class="container mb-5">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>Events</h1>
        {% if authorization == 'chairperson' %}
          <h1>Chairperson</h1>
          <a href="{% url 'events.create' %}">Create Events</a>
        {% endif %}
        {% if authorization == 'student' %}
          <h1>Student</h1>
        {% endif %}

        <div class="card p-3 bg-light">
          <h1>Events</h1>
          <form method="get" class="card p-3 m-3 bg-secondary">
            <select name="sortCategory" class="form-select mb-3">
              <option disabled selected>Select Category</option>
                <option value="Academics">Academics</option>
                <option value="Sports">Sports</option>
                <option value="Social">Social</option>
                <option value="Arts & Culture">Arts & Culture</option>
                <option value="Featured">Featured</option>
              <input type="submit" value="Apply Changes" class="btn btn-light w-100">
            </select>
          </form>
          <div class="d-flex flex-row">
            {% for event in events %}
              <div class="card me-3 border-dark" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">{{ event.eventTitle }}</h5>
                  <a href="{% url 'events' event.id %}" class="card-link">View</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>  