@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    overflow: hidden;
}

#content {
    margin-left: 175px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;

}


/*Side Bar*/
.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
    zoom: 67%;
}

#sidebar {
    height: 100%;
    min-width: 175px;
    max-width: 175px;
    background: #0C66CC;
    color: transparent;
    position: fixed;
}

#sidebar.active {
    margin-left: -175px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0C66CC;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
    background: #0C66CC;
    text-align: center;
    padding-bottom: 40px;
}

#sidebar ul li a:hover {
    background: #2852a4;
    border-radius: 20px 20px 20px 20px;
    margin-right: 15px;
    margin-left: 15px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0C66CC;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*End of Side Bar*/

/***** CONTENT *****/
.backrw {
    margin-left: 100px;
    margin-top: 65px;
    margin-right: 100px;
}

#backimg {
    padding-top: 30px;
}

.back:hover,
.back:focus {
    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1155%) hue-rotate(190deg) brightness(91%) contrast(100%);
}

#head1 {
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 17px;
    font-size: 40px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#head2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#head3 {
    letter-spacing: 1px;
    font-size: 16px;
    color: #0C66CC;
    font-family: 'Nunito';
}

/***** PROGRESS BAR *****/
.progress {
    height: 150px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px 30px 30px 30px;
    background: #0C66CC;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: #3C84D6;
}

.progress-text {
    letter-spacing: 1px;
    font-size: 15px;
    color: #3C84D6;
    font-family: 'Nunito';
}

.progressbar li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 32%;
    text-align: center;
    margin-top: -30px;
}

.progressbar li:before {
    content: '';
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 1px solid #3C84D6;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #3C84D6;
}

.progress-text-active {
    letter-spacing: 1px;
    font-size: 15px;
    color: #B6D1EF;
    font-family: 'Nunito';
}

.progressbar li.active:before {
    font-family: 'Nunito';
    border-color: #B6D1EF;
    background-color: #B6D1EF;
}


/***** END PROGRESS BAR *****/
.subtaken {
    margin-left: 90px;
    margin-right: 90px;
}

.curfield {
    background-color: #ececec;
    border-radius: 10px;
    height: 30px;
}

#submitbtn {
    width: 180px;
    height: 60px;
    background: #0C66CC;
    color: #ffff;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Nunito';
    border: none;
}

#submitbtn:hover {
    background: #2852a4;
    color: #ffff;
}

#nextbtn {
    width: 180px;
    height: 60px;
    background: #ffff;
    color: #0C66CC;
    border-radius: 15px;
    text-align: center;
    padding-top: 13px;
    font-size: 20px;
    font-family: 'Nunito';
    letter-spacing: 1px;
    position: absolute;
    top: 500px;
    left: 230px;
    border: 2px solid #0C66CC;
}

#nextbtn:hover {
    background: #0C66CC;
    color: #ffff;
}

/*Table*/

.primary-att {
    position: sticky;
    text-align: left;
    position: sticky;
    top: 0;
    /* Don't forget this, required for the stickiness */
    background: #f5f5f5;
}

.fill-in {
    border-radius: 20px;
    background: #f5f5f5;
}

.tablepanel {
    overflow-y: scroll;
    width: 100%;
    height: 560px;
}

.borderless td,
.borderless th {
    border: none;
}

.tablepanel::-webkit-scrollbar {
    width: 10px;
    background: #ebebeb;
    border-radius: 0 8px 8px 0;

}

.tablepanel::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 0 8px 8px 0;
    ;
}

.tabletext1 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Nunito';
    color: #0C66CC;
}

.tabletext2 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Nunito';
}

#remarks {
    padding-left: 5px;
    border: none;
    background: #0C66CC;
    font-size: 15px;
    font-family: Nunito;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    height: 50px;
    width: 150px;

}

#grade {
    padding-left: 5px;
    border: none;
    background: #0C66CC;
    font-size: 15px;
    font-family: Nunito;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    height: 33px;
    width: 1000;

}

.imgSubmit{
    margin-left: 20px;
    margin-top: 150px;
}

#subjectHeader {
    letter-spacing: 1px;
    font-size: 18px;
    color: #0C66CC;
    font-family: 'Nunito';
    margin-left: 30px;
}

#gradeHeader {
    letter-spacing: 1px;
    font-size: 18px;
    color: #0C66CC;
    font-family: 'Nunito';
    margin-left: 250px;
}

#submitbtn-2 {
    width: auto;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background: #0C66CC;
    color: #ffff;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: 'Nunito';
    border: none;
    float: left;
}

#submitbtn-2:hover {
    background: #2852a4;
    color: #ffff;
}



.form-control-2{
    border-radius: 15px 15px 15px 15px;
    background: #ECECEC;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 10px;
	font-size: 20px;
}
#instructorField{
    width: 100%;
    height:50px;
    padding: 3px;
    border: 3px solid #0C66CC;
    border-radius: 15px;
    resize: vertical;
    color: #595a5a;
    font-size: 18px;
    text-indent: 20px;
}
/***** END OF CONTENT *****/


/********BREAKPOINTS*******/
@media (max-width: 768px) {
    body {
        background: #fcfcfc;
        overflow: auto;
    }

    #content {
        margin-left: 0px;
    }

    /*****SIDEBAR*****/
    #sidebar {
        margin-left: -175px;
    }

    /*****END SIDEBAR*****/
    .progress {
        padding-left: 50px;
        padding-right: 50px;
    }

    .curfield {
        margin-left: 10px;
        width: 60%
    }

    #nextbtn {
        top: 900px;
        right: 0px;
    }

    #submitbtn {
        top: 900px;
        right: 190px;
    }

}

/********END BREAKPOINTS*******/