<!DOCTYPE html>
<html>

<head>
    <title>Chairperson | Email Applicant</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
	<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="forms.css">
    <!--Icon-->
    <link rel="icon" href="cOthersResources/iPLM.png" type="image/png" sizes="16x16">
</head>

<body>

    <div class="wrapper">

         <!-- Sidebar -->
       <nav id="sidebar">
        <div class="sidebar-header">
            <li>
                <p><br><br><img src="{% static 'CRS/images/fHomeAndProfile/hat.png' %}" width="126px" height="87px"><br><br>
            </li>
        </div>
        <ul class="sidebar components">
            <li class="active"><a href="{% url 'chairperson' %}"><img src="{% static 'CRS/images/cIcons/home2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'is_active' %}"><img src="{% static 'CRS/images/cIcons/department2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'dept_student' %}"><img src="{% static 'CRS/images/cIcons/students2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'full_time' %}"><img src="{% static 'CRS/images/cIcons/faculty2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'cOthers-studyPlan' %}"><img src="{% static 'CRS/images/cIcons/others2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'logout' %}"><img src="{% static 'CRS/images/cIcons/log-out2.png' %}" width="97px" height="auto"></a></li>
        </ul>
      </nav>
    <!--End of Sidebar -->

        <!-- Content -->

        <div class="container-fluid">
            <div class="content">
                <!-- Others -->

                <div class="pword row">
                  <div class="col-lg-1"><a class="back" href="{% url 'cOthers-transfereeView' %}"><img src=cOthersResources/back.svg width="50" height="45" id="back"></a>
                  </div>
                  <div class="col-lg-11">
                      <p id="phead">Email Applicant</p>
                  </div>
                </div>

                <!-- Students -->
                <form class="cswForm">
                  
                  <div class="row">
                        <div class="col-15">
                          <label for="date">Recipient</label>
                        </div>
                        <div class="col-75">
                          <input type="text" name="recipient" id="recipient" placeholder="email@email.com"></input>
                        </div>

                        <div class="col-15">
                          <label for="date">Subject</label>
                        </div>
                        <div class="col-75">
                          <input type="text" name="subject" id="subject" placeholder="Resubmit File"></input>
                        </div>
                   </div>

                    <br><hr class="blue"><br><br><br>
                   
                    <div class="row">
                        <div class="col-25">
                          <label for="actionRequired">Message</label>
                        </div>
                        <div class="col-80">
                          <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
                        </div>
                    </div>
                
                    <div class="row">
                      <div class="col-75"><input type="submit" value="Submit"></div>
                  </div>
                    </form>
            </div>
        </div>




        <!-- Javascript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function() {
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>

</body>

</html>