<html>
    <head>
        Faculty Applicant Form
    </head>
    <body>
        <a href="{% url 'faculty_applicant'%}">back</a>
        <form method='POST' enctype="multipart/form-data">
            {%csrf_token%}
            firstName<input name = 'firstName' id = 'firstName'>
            lastName<input name = 'lastName' id = "lastName">
            middleName<input name = 'middleName' id = 'middleName'>
            <br>
            email<input name = 'email' id = 'email'>
            phoneNumber<input name = 'phoneNumber' id = 'phoneNumber'>
            <br>
            CV<input type="file" id="CV" name="CV"  >
            <br>
            Certificates<input type="file" id="certificates" name="certificates">
            <br>
            Credentials<input type="file" id="credentials" name="credentials">
            <br>
            TOR<input type="file" id="TOR" name="TOR">
            <br>
            {% if messages %}
                {% for message in messages %}
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <button>Submit</button>
        </form>
    </body>
</html>