body
	{
		background-color: #0C66CC;
		overflow-y: scroll;
		
	}
	
	#backbutton
	{
	    top: 60px;
		left: 140px;
        position:relative;
	}
	
	#roundbg
	{
		border-radius: 25px;
		background: white;
		width: 1100px;
		height: 490px;
		position: relative;
		top: 75px;
		left: 130px;
	}

	#StudyPlan
	{
		font-size:22px;
		font-family:Nunito;
		font-weight:bold;
		color: #0C66CC;
		position:absolute;
		left: 60px;
		top: 40px
		
	}
	#imageSubmit
	{
		position:absolute;
		top:     200px;
		left:    800px;
        width:   230px;
        height:  230px;
	}

	.wrapper{
		display:flex;
	}
	

	.grayname{
		background-color:#E9E9E9;
		top: 102px;
		left:120px;
		width:140px;
		height: 20px;
		position:absolute;
		border-radius: 20px;
	}

	/*Table*/
	.tableSub
	{
		left: 50px;
		position:absolute;
		overflow-y:scroll;
		height:330px;
		width: 650px;
		top: 80px;
	
	}
	
	.headsub
	{
		font-family: Nunito;
		color:#0C66CC;
		font-size: 14px;
	}
	.headtab{
		color:#0C66CC;
		font-style:bold; 
		font-family: Nunito;
		font-size: 16px;
		
	}

	.divv{
		width:630px;
		border-spacing: 10px;
		border-collapse: separate;
	
	}
	.trow{
		line-height: 8px;
	
	}
	td{
	
	}
	.grayfill
	{
	
		border-radius: 10px;
		
		font-size:13px;
		vertical-align:center;
		text-align:center;
		height:10px;	
		padding-top:12px;
		position:relative;	
	}
/*SCROLLBAR*/
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #e4e4e4;
	border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbcbcb;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8f8f8f; 
}
	
	/* for large screens*/
@media (min-width:1600px) {
   	html
	{
		
	}
	
	body
	{
		background-color: #0C66CC;
		overflow-y: auto;
		height: 1000px;
		overflow-x:hidden;
		zoom:120%;
	
	}
}
/* for extra large screens*/
@media (min-width:1920px) {
   
		html
	{
		
	}
	
	body
	{
		background-color: #0C66CC;
		overflow-y: auto;
		height: 1000px;
		overflow-x:hidden;
		zoom:133%;
	
	}
