{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> Chairperson | Home </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="cHomeStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <!-- JS -->
    <script src="cHomeMain.js"></script>
    <!--  ICON -->
    <link rel="icon" href="cHomeResources/iPLM.png" type="image/png" sizes="16x16">

    <style>
    body{
        transition: all 0.3s;
    }
    </style>
</head>

<body>

    <div class="wrapper">

        <!-- Sidebar -->
       <nav id="sidebar">
        <div class="sidebar-header">
            <li>
                <p><br><br><img src="{% static 'CRS/images/fHomeAndProfile/hat.png' %}" width="126px" height="87px"><br><br>
            </li>
        </div>
        <ul class="sidebar components">
            <li class="active"><a href="{% url 'chairperson' %}"><img src="{% static 'CRS/images/cIcons/home2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'is_active' %}"><img src="{% static 'CRS/images/cIcons/department2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'dept_student' %}"><img src="{% static 'CRS/images/cIcons/students2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'full_time' %}"><img src="{% static 'CRS/images/cIcons/faculty2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'cOthers-studyPlan' %}"><img src="{% static 'CRS/images/cIcons/others2.png' %}" width="97px" height="auto"></a></li>
            <li><a href="{% url 'logout' %}"><img src="{% static 'CRS/images/cIcons/log-out2.png' %}" width="97px" height="auto"></a></li>
        </ul>
      </nav>
    <!--End of Sidebar -->


        <!-- Content -->
        <div id="content">

            <div class=" container-fluid">

                <!-- Welcome Panel -->
                <div class="main row">

                    <div class="col-lg-10">
                        <div class="row" id="head">
                            <p>Welcome</p>
                            <p>&nbsp;Chairperson!</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 pt-3">
                                <table>
                                    <tr>
                                        <td class="notification"><img id="notif" src="{% static 'CRS/images/cHome/notifications.svg' %}" width="40px" height="30px">
                                            <div class="dropdown-menu">
                                                <p id="notiftitle">Notifications<br></p><!-- DB NOTIFICATION DATA BELOW -->
                                                <a  href="chairperson_notification.html"><p id="notifdrops"><b>Lorem Ipsum</b><br> consectetur adipiscing elit</p><br></a>
                                                <a  href="chairperson_notification.html"><p id="notifdrops"><b>Lorem Ipsum</b><br> consectetur adipiscing elit</p><br></a>
                                                <a  href="chairperson_notification.html"><p id="notifdrops"><b>Lorem Ipsum</b><br> consectetur adipiscing elit</p><br></a>
                                                <a  href="chairperson_notification.html"><p id="notifdrops"><b>Lorem Ipsum</b><br> consectetur adipiscing elit</p><br></a>
                                            </div>
                                        </td>
                                        <td>
                                            <p id="pipe">|</p>
                                        </td>
                                        <td><img id="user" src="{% static 'CRS/images/cHome/user.svg' %}" width="35px" height="35px"></td>
                                        <td id="uname">
                                            <a href="chairperson_view_profile.html" onmouseover="changeText(this,'View Profile')" onmouseout="changeText(this,'  Name')">Full Name</a><!-- Yung Fullname daw dito galing DB -->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <img class="pic" src=cHomeResources/clip-school-competitions.png width="290" height="200" align="right">
                    </div>

                </div>

                <!-- Quick Access -->
                <div class="sub-quick row">
                    <p id="quick">Quick Access</p>
                </div>

                <div class="sub-buttons row">
                    <div class="quickmargin col-lg-3 col-md-6 col-sm-12"><a href="../Department/cDepartment.html" id="buttons"><button type="button" class=" btn">Department Subjects</button></a></div>
                    <div class="quickmargin col-lg-3 col-md-6 col-sm-12"><a href="../Others/cOthers-studyPlan.html" id="buttons"><button type="button" class="btn">Study Plan</button></a></div>
                    <div class="quickmargin col-lg-3 col-md-6 col-sm-12"><a href="../Others/cOthers-application.html" id="buttons"><button type="button" class="btn ">Faculty Application</button></a></div>
                    <div class="quickmargin col-lg-3 col-md-6 col-sm-12"><a href="../Others/cOthers-partTime.html" id="buttons"><button type="button" class=" btn">Part Time Availability</button></a></div>
                </div>
                <!-- END of Quick Access -->
                <div class="line row">
                    <hr>
                </div>
                <!-- Overview  -->
                <div class="sub-overview row">
                    <p id="over">Overview</p>
                </div>

                <div class="sub-over row">

                    <div class="col-yellow yellow-box col-lg-4">
                        <div class="col-lg-12 mt-3">
                            <div class="semdet row">
                                <p id="sd">
                                    <span id="sdtext">Semester Details</span>
                                </p>
                            </div>
                            <div class="hordet row">
                                <div class="text col">Academic Year:</div>
                                <div class="field col">
                                    <!-- DB PUT ACADEMIC YEAR HERE -->
                                </div>
                            </div>
                            <div class="hordet row">
                                <div class="text col">Semester:</div>
                                <div class="field col">
                                    <!-- DB PUT SEMESTER HERE -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="colwhite col-lg-4">
                                <div class="white-box row">
                                    <div class="col-lg">
                                        <h5 id="cardnumber">00</h5><!-- DB PUT STUDENT COUNT HERE -->
                                        <p id="cardtext"> Students </p>
                                    </div>
                                </div>
                            </div>

                            <div class="colwhite col-lg-4">
                                <div class="white-box row">
                                    <div class="col-lg">
                                        <h5 id="cardnumber">00</h5><!-- DB PUT FACULTY COUNT HERE -->
                                        <p id="cardtext"> Faculty </p>
                                    </div>
                                </div>
                            </div>

                            <div class="colwhite col-lg-4">
                                <div class="white-box row">
                                    <div class="col-lg">
                                        <h5 id="cardnumber">00</h5><!-- DB PUT SUBJECT COUNT HERE -->
                                        <p id="cardtext"> Subjects </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function changeText(obj, text) {
            obj.innerText = text;
        }
    </script>

</body>

</html>