{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title> Student | Notification </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="{% static 'CRS/css/sHome/sHomeStyle.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <script src="{% static 'CRS/js/cHome/cHomeMain.js' %}"></script>
    <link rel="icon" href="{% static 'CRS/images/sClassroom/iPLM.png' %}" type="image/png" sizes="16x16">

    <style>

    body{
            font-family: Nunito;
        }
    .dropdown-menu {
    background-color: white;
    width: 550px;
    height: 750px;
    
    margin-left: -50px;

    }


    .notifpanels{
    color: #0C66CC;
    font-family: 'Nunito';
    width: 85%;
    height: 90px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 5px 30px -10px #c2c2c2;
    padding-left: 25px;
    padding-top: 20px;
}


    .notifpanels:hover{
        background-color: #f7f7f7;
    }

    .reminder{
        font-size: 30px;
        color: #0C66CC;
    }

    </style>


</head>

<body>
{% block content %}
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <li>
                    <p><br><br><img src="{% static 'CRS/images/fHomeAndProfile/hat.png' %}" width="126px" height="87px"><br><br>
                </li>
            </div>
            <ul class="sidebar components">
                <li class="active"><a href="{% url 'sHome' %}"><img src="{% static 'CRS/images/cIcons/home2.png' %}"width="97px" height="auto"></a></li>
                <li><a href="{% url 'sProfile' %}"><img src="{% static 'CRS/images/cIcons/profile2.png' %}" width="97px" height="auto"></a></li>
                <li><a href="{% url 'sClassroom' %}"><img src="{% static 'CRS/images/cIcons/classroom2.png' %}" width="97px" height="auto"></a></li>
                <li><a href="{% url 'sOthers' %}"><img src="{% static 'CRS/images/cIcons/others2.png' %}" width="97px" height="auto"></a></li>
                <li><a href="{% url 'logout' %}"><img src="{% static 'CRS/images/cIcons/log-out2.png' %}" width="97px" height="auto"></a></li>
            </ul>
        </nav>
        <!--End of Sidebar -->

        <!-- Content -->
        <div id="content">

            <div class="container-fluid">

                <!-- Welcome Panel -->
                <div class="main row">

                    <div class="col-lg-9">
                        <div class="row" id="head">
                            <p>Welcome</p>
                            <p>&nbsp;Student!</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 pt-3">
                                <table>
                                    <tr>
                                        <td class="notification"><a href="{% url 'sHomeNotifications' %}"><img id="notif" src="{% static 'CRS/images/sHome/notification.svg' %}" width="40px" height="30px"></a>
                                            <div class="dropdown-menu">
                                                <p id="notiftitle">Notifications<br></p><!-- DB NOTIFICATION DATA BELOW -->
                                                <a  href="{% url 'HDNotifdetails' %}"><p id="notifdrops"><b>Honorable Dismissal Feedback</b><br>See more details...</p><br></a>
                                                <a  href="{% url 'LOANotifdetails' %}"><p id="notifdrops"><b>Leave of Absence Feedback</b><br>See more details...</p><br></a>
                                                <a  href="{% url 'OJTNotifdetails' %}"><p id="notifdrops"><b>Practicum Feedback</b><br>See more details...</p><br></a>
                                                <a  href="{% url 'SPNotifdetails' %}"><p id="notifdrops"><b>Studyplan Feedback</b><br>See more details...</p><br></a>
                                                <a  href="{% url 'GradesNotifdetails' %}"><p id="notifdrops"><b>Grade Submission Feedback</b><br>See more details...</p><br></a>
                                            </div>
                                        </td>
                                        <td>
                                            <p id="pipe">|</p>
                                        </td>
                                        <td><img id="user" src="{% static 'CRS/images/sHome/user.svg' %}" width="35px" height="35px"></td>
                                        <td id="uname">{{info.studentUser.firstName}} {{info.studentUser.middleName}} {{info.studentUser.lastName}}</td><!-- Yung Fullname daw dito galing DB -->
                                        
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        {% for acads in acad %}
                        <table>
                            <tr>
                                <td class="academicYearHeader">Academic Year:</td>
                                <td class = "academicYearDetail">{{acads.yearstarted}} - {{acads.yearended}} </td><!-- DB ACADEMIC YEAR  -->
                            </tr>

                            <tr>
                                <td class="semesterHeader">Semester:</td>
                                <td class = "semesterDetails">{{acads.semester}}</td><!-- DB SEMESTER  -->
                            </tr>
                        </table>
                        {% endfor %}
                    </div>

                </div>

                <!--NOTIFICATION-->
                <div id="notifrow" class="row pt-5">
                    <div id="notifcol" class="col-lg-5">
                        <p id="notifhead" style="font-size: 30px;"><img id="bluebell" src="{% static 'CRS/images/sHome/bluebell.svg' %}">&nbsp;&nbsp;Notifications</p>
                        
                        <!-- DB NOTIFICATION LIST BELOW -->
                        <a href="{% url 'HDNotifdetails' %}"><p class="notifpanels"><b>Honorable Dismissal Feedback</b><br>See more details...</p></a>
                        <a href="{% url 'LOANotifdetails' %}"><p class="notifpanels"><b>Leave of Absence Feedback</b><br>See more details...</p></a>
                        <a href="{% url 'OJTNotifdetails' %}"><p class="notifpanels"><b>Practicum Feedback</b><br>See more details...</p></a>
                        <a href="{% url 'SPNotifdetails' %}"><p class="notifpanels"><b>Studyplan Feedback</b><br>See more details...</p></a>    
                        <a href="{% url 'GradesNotifdetails' %}"><p class="notifpanels"><b>Grade Submission Feedback</b><br>See more details...</p></a> 
                        
                        <br>                
                    </div>

                    <div class="col-lg-7" align=center>
                        <br><br><br>
                        <img  src="{% static 'CRS/images/sHome/clip-notif.png' %}" width="auto" height="400px">
                        
                    </div>

                </div>

                <br>

                <!--END NOTIFICATION-->



            </div>

        </div>
    </div>
    {% endblock content %}
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function changeText(obj, text) {
            obj.innerText = text;
        }
    </script>

</body>

</html>