@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    background: #fcfcfc;
    overflow: auto;
	overflow-x: hidden;
}

#content {
    margin-left: 175px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background: #fcfcfc;
}


/*Side Bar*/
.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
    zoom: 67%;
}

#sidebar {
    height: 100%;
    min-width: 175px;
    max-width: 175px;
    background: #0C66CC;
    color: transparent;
    position: fixed;
}

#sidebar.active {
    margin-left: -175px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0C66CC;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 20px;
    display: block;
    background: #0C66CC;
    text-align: center;
    padding-bottom: 40px;
}

#sidebar ul li a:hover {
    background: #2852a4;
    border-radius: 20px 20px 20px 20px;
    margin-right: 15px;
    margin-left: 15px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0C66CC;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*End of Side Bar*/

/***** CONTENT *****/
.back {
    margin-left: 100px;
	margin-right: 100px;
    margin-top: 65px;
}

#backimg {
    padding-top: 30px;
}

.back:hover,
.back:focus {
    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(1155%) hue-rotate(190deg) brightness(91%) contrast(100%);
}

#head1 {
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 17px;
    font-size: 40px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#head2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #0C66CC;
    font-family: 'Nunito';
}

#head3 {
    letter-spacing: 1px;
    font-size: 20px;
    color: #0C66CC;
    font-family: 'Nunito';
    margin-top: -20px;
}

/***** PROGRESS BAR *****/
.progress {
    height: 150px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 30px 30px 30px 30px;
    background: #0C66CC;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background: #3C84D6;
}

.progress-text {
    letter-spacing: 1px;
    font-size: 15px;
    color: #3C84D6;
    font-family: 'Nunito';
}

.progressbar li {
    position: relative;
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
    margin-top: -30px;
}

.progressbar li:before {
    content: '';
    width: 50px;
    height: 50px;
    line-height: 30px;
    border: 1px solid #3C84D6;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #3C84D6;
}

.progress-text-active {
    letter-spacing: 1px;
    font-size: 15px;
    color: #B6D1EF;
    font-family: 'Nunito';
}

.progressbar li.active:before {
    font-family: 'Nunito';
    border-color: #B6D1EF;
    background-color: #B6D1EF;
}


/***** END PROGRESS BAR *****/


/******** HD 3 ************/

.hd3-content {
	width:100%
}

.hd3-header {
	margin-left: 100px;
	margin-top: 80px;
	font-family: 'Nunito';
    color: #0C66CC;
	font-weight: bold;
}

.instruction {
	margin-left: 100px;
	font-family: 'Nunito';
    color: #0C66CC;
}

.form-group {
	margin-top: 50px;
}

.form-label {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: 15px 50px 0px 100px;
}

.form-label1 {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -25px 50px 0px 100px;
}

.form-label2 {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -5px 50px 0px 100px;
}

.form-control {
    border-radius: 15px 15px 15px 15px;
    background: #ECECEC;
    border: none;
    width: 20%;
    height: 50px;
    padding-left: 20px;
	font-size: 20px;
}

.form-control1 {
    border-radius: 15px 15px 15px 15px;
    background: #ECECEC;
    border: none;
    width: 43%;
    height: 50px;
    padding-left: 20px;
	font-size: 20px;
}

#transfer-input {
	margin: 0px -50px 0px 95px;
}

#transfer-input-sy {
	margin: 0px -50px 0px 95px;
}

#nameSpan1 {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -50px 0px 0px 300px;
}

#nameSpan2 {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -50px 0px 0px 305px;
}

#nameSpan3 {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -50px 0px 50px 305px;
}

#address {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -50px 0px 0px 70px;
}

#line {
	color: #ECECEC;
	width: 90%;
	border-width: 5px;
	
	margin-bottom: 50px;
}

.form-check {
	margin: -20px -50px 0px 100px;
}

.college-label {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: 15px 130px 0px 100px;
}

#transfer-input-sem {
	margin: 0px -40px 0px 0px;
}


.form-check-label {
	color: #0C66CC;
	font-size: 20px;
}

#semSpan {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -75px 0px 0px 290px;
}

#sySpan {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: -75px 0px 0px 340px;
}

#transfer-input-college1 {
	margin: 0px 0px 0px 0px;
}

#transfer-input-college2 {
	margin: 0px 0px 0px 50px;
}

#sem-summers {
	margin: 0px 0px 0px -17px;
}

#degree {
	margin: 0px 0px 0px 25px;
}

#school {
	margin: 0px 0px 0px 45px;
}

#school-address {
	font-size: 20px;
  	font-family: 'Nunito';
    color:  #0C66CC;
	
	margin: 0px 0px 0px 65px;
}


#application-date {
	margin-left: 35px;
}

#button-edit .btn2 {
  	border-radius: 15px;
  	font-size: 18px;
  	font-family: 'Nunito';
    text-align: left;
  	color: #ffff;
  	background-color:  #0C66CC;
    border: none;
	padding: 15px;
	width: 18%;
    height: 55px;
	float: left;
	margin: 0px 0px 0px 90px;
}

#button-edit .btn2:hover{
  	background-color:  #2852A4;
    cursor: pointer;
}

#button-edit .btn3 {
	border-radius: 2px 2px 2px 2px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-family: 'Nunito';
    color: #0C66CC;
    margin-left: 20px;
    border-radius: 20px;
	border-color: transparent;
    margin-bottom: 15px;
    background-color: white;
    text-align: center;
    width: 10%;
    height: 60px;
    box-shadow: 1px 5px 30px -10px #888888;
}

#button-edit .btn3:hover {
    background-color: #ECC429;
    cursor: pointer;
}

#button-edit .btn {
  	border-radius: 15px 15px 15px 15px;
  	font-size: 22px;
  	font-family: 'Nunito';
	border: 2px solid #0C66CC;
  	background-color: white;
	color: #0C66CC;
	
	width: 10%;
    height: 55px;

	margin: 50px 0px 0px 10px;
}

#button-edit .btn:hover{
  	background-color: #0C66CC;
    cursor: pointer;
    color: #ffff;
}

#button-edit .btn1 {
  	border-radius: 15px 15px 15px 15px;
  	font-size: 22px;
  	font-family: 'Nunito';
  	color: #ffff;
  	background-color:  #0C66CC;
	border: none;
	width: 10%;
    height: 55px;
	
	float: left;
	margin: 50px 0px 50px 1100px;
}

#button-edit .btn1:hover{
  	background-color:  #2852A4;
    cursor: pointer;
}


/*******END HD 3 ***********/

/* Extra small devices (portrait phones, Less than 576px) */ 
@media (max-width: 575.98px) {
    body {
    overflow: auto;
    }
	
	#sidebar {
		margin-right: -600px;
	}
	
	#buttons .btn {
		margin-left: 160px;
	}
	
	#button-edit .btn1 {
		margin-left: 100px;
	}
	
	#transfer-input {
		margin: 0px 0px 0px 5px;
	}
	
	#nameSpan1 {
		margin: -50px 0px 0px 220px;
	}
	#nameSpan2 {
		margin: -50px 0px 0px 50px;
	}
	#nameSpan3 {
		margin: -50px 0px 0px 50px;
	}
	
	.form-check {
		margin-top: 50px;
	}

	
	#transfer-input-college {
	margin: 0px 30px 0px 0px;
	}
	#transfer-input-sy {
	margin: 0px 0px 0px 20px;
	}
	
	#semSpan {
		margin: -150px 0px 0px 300px;
	}
	
	#sySpan {
		margin: -150px 0px 0px 100px;
	}
	
	#button .btn3 {
		margin-left: 500px;
	}

}
/* Small devices (Landscape phones, 576px and up)*/ 
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
    overflow: auto;
    }
	
	#sidebar {
		margin-right: -600px;
	}
	
	.efrom {
		margin-left: -50px;
	}
	
	#buttons .btn {
		margin-left: 160px;
	}
	
	#button-edit .btn1 {
		margin-left: 550px;
	}
	
	#transfer-input {
		margin: 0px -70px 0px 95px;
	}
	
	#nameSpan1 {
		margin: -50px 0px 0px 300px;
	}
	#nameSpan2 {
		margin: -50px 0px 0px 80px;
	}
	#nameSpan3 {
		margin: -50px 0px 0px 60px;
	}
	
	.form-check {
		margin-top: 45px;
		margin-right: 0px;
	}
	
	#transfer-input-college1 {
	margin: 0px 30px 0px 0px;
	}
	
	#semSpan {
		margin: -150px 0px 0px 300px;
	}
	
	#sySpan {
		margin: -150px 0px 0px 100px;
	}
	
	#transfer-input-sy {
		margin: 0px 0px 0px 0px;
	}
	
	#transfer-input-college2 {
		margin: 0px 0px 0px 30px;
	}
	
	#button .btn3 {
		margin-left: 700px;
	}
	
}
/* Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width: 991.98px) { 
    body {
		overflow: auto;
    }
	
	#sidebar {
		margin-right: -500px;
	}
	
	#transfer-input {
		margin: 0px -70px 0px 95px;
	}
	
	#nameSpan1 {
		margin: -50px 0px 0px 300px;
	}
	#nameSpan2 {
		margin: -50px 0px 0px 110px;
	}
	#nameSpan3 {
		margin: -50px 0px 0px 100px;
	}
	
	.form-check {
		margin-top: 45px;
		margin-right: 0px;
	}
	
	#transfer-input-college1 {
	margin: 0px 30px 0px 0px;
	}
	
	#semSpan {
		margin: -150px 0px 0px 290px;
	}
	
	#sySpan {
		margin: -150px 0px 0px 150px;
	}
	
	#transfer-input-college2 {
		margin: 0px 50px 0px 30px;
	}
	
	#transfer-input-sy {
		margin: 0px 50px 0px 0px;
	}
	
	#button-edit .btn1 {
		margin-left: 400px;
	}
	#button .btn3 {
		margin-left: 800px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	body {
		overflow-x: auto;
	}
    #content {
        zoom: 100%;
    }
    #sidebar {
        zoom: 67%;
    }

	#nameSpan1 {
		margin: -50px 0px 0px 300px;
	}
	#nameSpan2 {
		margin: -50px 0px 0px 210px;
	}
	#nameSpan3 {
		margin: -50px 0px 0px 210px;
	}
	
	#sySpan {
		margin: -75px 0px 0px 250px;
	}
	
	.form-check {
		margin-right: -100px;
	}
	
	#button-edit .btn1 {
		margin-left: 800px;
	}
	
}

/* For screens na 1600x900 */
@media (min-width: 1600px) {
    .wrapper {
        zoom: 67%;                                
    }
	#nameSpan1 {
		margin: -50px 0px 0px 300px;
	}
	#nameSpan2 {
		margin: -50px 0px 0px 370px;
	}
	#nameSpan3 {
		margin: -50px 0px 0px 370px;
	}
	
	#sySpan {
		margin: -75px 0px 0px 420px;
	}
	
}

/* For screens na 1920x1080 */
@media (min-width: 1920px) {
    .wrapper {
        zoom: 100%;                                        
    }

}

/********END BREAKPOINTS*******/